body {
    margin: 1px 1px 1px 15px;
    padding: 1px;
    font-family: Tahoma;
    text-align: left;
}

.nav-container {
    background: #f6f6f6;
    font-family: Tahoma;
    font-size: 12px;
    height: 32px;
    text-transform: uppercase;
}

a:hover {
    color: #2387D9;
}

.button {
    width: 65px;
    padding: 3px;
    font-size: 16px;
    margin: 5px;
    padding: 5px;
    border: 1px solid lightgray;
}

.button:hover {
    background-color: 157dd3;
    color: white;
    cursor: pointer;
}

.flash-container {
    background: #E6E6FA;
    font-family: Times;
    font-size: 14px;
    height: 26px;
    margin: 15px 5px 15px 5px;
    padding: 10px;
}

.formtitle {
    width: 20%;
    font-family: Times;
    margin: 15px 5px;
    padding: 10px;
}

.formbody {
    width: 20%;
    height: 40%;
    font-family: Times;
    margin: 15px 5px;
    padding: 10px;
}

.formselect {
    width: 20%;
    height: 40%;
    font-family: Times;
    margin: 15px 5px;
    padding: 10px;
}

.formdesc {
    width: 100%;
    height: 400px;
}