<tr valign="middle" id="_f_applicant_info">
        <td width = "15%"> {{student.firstname}} {{student.lastname}} </td>
        <td width = "20%"> {{student.email}} </td>
        <td width = "5%"> {{student.GPA}} </td>
        <td width = "15%"> {{student.major}} </td>
        <td width = "15%"> {{student.gradulationdate}}</td>
        <td width = "15%"> <a href ="{{url_for('routes.get_s_profile', s_id = student.id)}}"> View Student Profile </a> </td>
        <td width = "7.5%">
                <button>test</button>   
        </td>       
        <td width = "7.5%">
                <button>test</button>   
        </td> 
</tr>