<table class = "posttable" style = "width:100%" valign="top">
       
        <tr> 
            <td colspan="3">
                <div class="posttitle"> <a href = "{{url_for('routes.get_position_info', position_id = position.id) }}" > {{position.title}} </a> </div>
            </td>
        </tr>


        <tr>
            <td width="10%" >
            </td>

            <td width="85%" >

                <div class = "postmassage">
                    {{position.desc}}
                    <p> {{position.start_date}} - {{position.end_date}} </p>
                    <p> {{position.research_field}} </p>
                </div>


            </td> 

            <td width = "5%"> 
                <div>
                    {% if position.writer == current_user %}
                        <form action = "{{ url_for('routes.delete', position_id = position.id)}}" method ="post">
                                <input type="submit" value="Delete" class="button" >
                        </form>
                    {% endif %}
                    
                </div>
                <br> 

            </td>
        </tr>
        
        <tr> 
            <td colspan="3" style = "text-align:center" valign="bottom">  
                <br>

                {% if current_user.usertype == 0 %}
                    {% if current_user.is_applied(position) == False%}
                        <form action = "{{ url_for('routes.apply', position_id = position.id)}}" method = "post" >
                            <input type = 'submit' value = 'Apply' class = "btn btn-primary">
                        </form>
                    {% else %}
                            <input type = 'submit' value = 'Applied' class = "btn btn-success">
                
                    {% endif %}
                {% else %}
                    {% if position.writer == current_user %}
                            <form action = "{{url_for('routes.applicants', position_id = position.id)}}">
                                <input type = 'submit' value = 'Applicants' class = "btn btn-danger">
                            <form>
                    {% endif %}
                {% endif %}
                
            </td>
        </tr>

        <tr>
            <td colspan="3" style = "text-align:center" valign="bottom">  
                <br>
                    Post By: <span class = "useritem"> {{ position.writer.username }} </span> 
              </td>
            </tr>
        </tr>

</table>
