{% extends "f_base.html" %} {% block content %} {% for position in pform %}
<script>
    window.onload = clearFacultyDisplay();
    window.onload = f_applicant_list_active();
</script>
<table class="table table-hover">
    <thead class="thead-light">
        <tr valign="bottom">
            <td colspan="5" style="font-weight: 900;">
                {{position.title}}
            </td>
        </tr>
    </thead>
    {% for application in position.roster %} {% set student = application.studentapplied %} {% include '_f_applicant_info.html' %} {% endfor %}
</table>
{% endfor %}
<a href="{{url_for('routes.faculty_index')}}" class='button'>Return to main page</a> {% endblock %}