<html>
<head>
    {% if title %}
    <title>{{ title }} - Research Network </title>
    {% else %}
    <title> Welcome to Washington State University Research Network </title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{url_for('static', filename='js/register.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</head>

<body>
    <div class="nav-container topbar">
        <ul>
            <li><a href="{{ url_for('routes.faculty_index') }}" class="active" id="f_home_page">Home Page</a></li>
            <li><a href="{{ url_for('routes.postReasearch')}}" id="f_post_new_position"> Post New Position </a></li>
            <li><a href="{{ url_for('routes.applicants_list')}}" id="f_applicant_list"> Applicant List </a></li>
            <li><a href="{{ url_for('routes.f_profile')}}" id="f_profile"> Profile </a></li>
            <li><a href="{{ url_for('auth.logout') }}"> Log Out </a></li>
        </ul>

    </div>

    <div>
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="flash-container"> {{ message }}</div>
        {% endfor %} {% endif %} {% endwith %} {% block content %} {% endblock %}
    </div>

</body>

</html>