{% extends "f_base.html" %} {% block content %}
<script>
    window.onload = clearFacultyDisplay();
    window.onload = f_profile_active();
</script>

<style>
    .postButton {
        width: 15%;
        background-color: #4C222;
        color: white;
        padding: 10px 10px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>

<div class="row mt40" style="margin-top: 40px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <h1>Display Faculty Profile</h1>
        <h2>Faculty username: {{faculty.username}}</h2>
        <p><b>Name</b>: {{faculty.firstname}} {{faculty.lastname}}</p>
        <p><b>Email</b>: {{faculty.email}}</p>
        <p><b>Phone</b>: {{faculty.phone}}</p>
        <p><b>WSU ID</b>: {{faculty.wsuid}}</p>
        <p>
            <a href="{{url_for('routes.f_profile_edit')}}">
                <button class="postButton">Edit your profile</button>
            </a>
        </p>
    </div>
    <div class="col-md-2"></div>
</div>


{% endblock %}