{% extends "f_base.html" %}

{% block content %}
    <h1> Faculty Register</h1>

    <!-- TODO (iteration1):  Include the template for "user registration" form here..  -->
    
     {% if form %}
        <form action="" method="POST">
            {{ form.hidden_tag() }}

            <p> {{form.role.label }} </p>
            <p> {{form.role }} </p>

            <p>{{ form.username.label }}</p>
            <p>{{ form.username }}</p>
   

            <p>{{ form.lastname.label }}</p>
            <p>{{ form.lastname }}</p>

            <p>{{ form.firstname.label }}</p>
            <p>{{ form.firstname }}</p>

            <p>{{ form.wsuid.label }}</p>
            <p>{{ form.wsuid }}</p>

            <p>{{ form.phone.label }}</p>
            <p>{{ form.phone }}</p>

            <p>{{ form.email.label }}</p> 
            <p>{{ form.email}} </p>

            <p>{{ form.password.label }} </p>
            <p>{{ form.password }}</p>  


            <p>{{ form.password2.label }}</p>  
            <p>{{ form.password2 }} </p>


            <p>{{ form.submit  }}</p>
        </form>
    {% endif %}


{% endblock %}