{% extends "base.html" %} {% block content %}
<div class="login">
    <h1>Research Network Platform @ Washington State University</h1>
    <h1>Sign In</h1>
    {% if form %}
    <form action="" method="POST">
        {{ form.hidden_tag() }}

        <p>{{form.username.label}}</p>
        <p>{{form.username(class ='logintext')}}</p>
        {% for error in form.username.errors %}
        <span style="color: red;">[{{error}}]</span> {% endfor %}

        <p>{{form.password.label}}</p>
        <p>{{form.password(class ='logintext')}}</p>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{error}}]</span> {% endfor %}

        <p>{{form.remember_me.label}} {{form.remember_me}} </p>

        <p>{{ form.submit(class = 'loginButton')}}</p>
    </form>
    {% endif %}
    <p>New User? Click <a href="register" class="link"> here </a> to register.
</div>
{% endblock %}