{% extends "f_base.html" %}

{% block content %}
    <h1>Sign In</h1>
    {% if form %}
        <form action="" method="POST">
            {{ form.hidden_tag() }}

                <p>{{form.username.label}}</p>  
                <p>{{form.username}}</p>

                <p>{{form.password.label}}</p>
                <p>{{form.password}}</p>

                {{form.remember_me.label}}
                {{form.remember_me}}

                <br>
                <br>
                {{form.role.label}}
                {{form.role}}

            <p>{{ form.submit}}</p>
        </form>
    {% endif %}
    <p>New User? <a href="">Click to Register!</a></p>
{% endblock %}
