{% extends "f_base.html" %} {% block content %}

<script>
    window.onload = clearFacultyDisplay();
    window.onload = f_post_new_position_active();
</script>

<style>
    .formtitle {
        width: 75% !important;
    }
    
    .formbody {
        width: 75% !important;
    }
</style>

<div class="mt30"></div>
<div class="newpost">
    <form action="" method="POST">
        {{form.hidden_tag()}}
        <div class="row" style="margin: 0 !important; padding: 0;">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <div class="row" style="margin: 0 !important; padding: 0;">
                    <div class="col-md-6">
                        <p>{{ form.research_title.label }}</p>
                        <p>{{ form.research_title(class="formtitle") }}</p>

                        {% for error in form.research_title.errors %}
                        <span style="color: red;">[{{error}}]</span> {% endfor %}

                        <p>{{ form.desc.label }}</p>
                        <p>{{ form.desc(class="formbody")}}</p>

                        {% for error in form.desc.errors %}
                        <span style="color: red;">[{{error}}]</span> {% endfor %}

                        <p>{{ form.start_date.label }}</p>
                        <p>{{ form.start_date(class="formtitle datepicker") }}</p>

                        <p>{{ form.end_date.label }}</p>
                        <p>{{ form.end_date(class="formtitle") }}</p>

                        {% for error in form.start_date.errors %}
                        <span style="color: red;">[{{error}}]</span> {% endfor %} {% for error in form.end_date.errors %}
                        <span style="color: red;">[{{error}}]</span> {% endfor %}

                    </div>
                    <div class="col-md-6">
                        <p>{{ form.time_commitment.label }}</p>
                        <p>{{ form.time_commitment(class="formtitle") }}</p>

                        {% for error in form.time_commitment.errors %}
                        <span style="color: red;">[{{error}}]</span> {% endfor %}

                        <p>{{ form.research_field.label }}</p>
                        <p>{{ form.research_field(class="formtitle") }}</p>

                        {% for error in form.research_field.errors %}
                        <span style="color: red;">[{{error}}]</span> {% endfor %}

                        <p>{{ form.applicant_qualification.label }}</p>
                        <p>{{ form.applicant_qualification(class="formbody") }}</p>

                        {% for error in form.applicant_qualification.errors %}
                        <span style="color: red;">[{{error}}]</span> {% endfor %} {{form.submit(class="button")}}
                    </div>
                </div>
            </div>

            <div class="col-md-2">
            </div>
        </div>
    </form>

</div>
{% endblock %}