{% extends "base.html" %} {% block content %}


<div class="register">
    <h1>Register</h1>
    <form name="studentFacultyReg">
        <input type="radio" name="studentFaculty" id="studentRegister" value="1" onclick="showStudent()" checked style="width: auto;"> Student</input>
        <input type="radio" name="studentFaculty" id="facultyRegister" value="2" onclick="showFaculty()" style="width: auto;"> Faculty</input>
    </form>
    <div id="studentForm" style="display: block;">

        <!-- TODO (iteration1):  Include the template for "user registration" form here..  -->

        {% if sform %}
        <form action="" method="POST">
            <div class="row">
                <div class="col-md-6">
                    {{ sform.hidden_tag() }}

                    <p>{{ sform.username.label }}</p>
                    <p>{{ sform.username(class ='formtitle') }}</p>


                    <p>{{ sform.lastname.label }}</p>
                    <p>{{ sform.lastname(class ='formtitle') }}</p>

                    <p>{{ sform.firstname.label }}</p>
                    <p>{{ sform.firstname(class ='formtitle') }}</p>

                    <p>{{ sform.wsuid.label }}</p>
                    <p>{{ sform.wsuid(class ='formtitle') }}</p>

                    <p>{{ sform.phone.label }}</p>
                    <p>{{ sform.phone(class ='formtitle') }}</p>

                    <p>{{ sform.email.label }}</p>
                    <p>{{ sform.email(class ='formtitle')}} </p>

                    <p>{{ sform.password.label }} </p>
                    <p>{{ sform.password(class ='formtitle') }}</p>


                    <p>{{ sform.password2.label }}</p>
                    <p>{{ sform.password2(class ='formtitle') }} </p>

                </div>
                <div class="col-md-6">
                    <p>{{ sform.major.label }}</p>
                    <p>{{ sform.major(class ='formtitle') }} </p>

                    <p>{{ sform.GPA.label }}</p>
                    <p>{{ sform.GPA(class ='formtitle') }} </p>

                    <p>{{ sform.gradulation.label }}</p>
                    <p>{{ sform.gradulation(class ='formtitle') }} </p>

                    <p>{{ sform.elective.label }}</p>
                    <p>{{ sform.elective(class ='formbody', rows='5', wrap='hard') }} </p>

                    <p>{{ sform.researchtopic.label }}</p>
                    <p>{{ sform.researchtopic(class ='formbody') }} </p>

                    <p>{{ sform.programming.label }}</p>
                    <p>{{ sform.programming(class ='formtitle') }} </p>

                    <p>{{ sform.experience.label }}</p>
                    <p>{{ sform.experience(class ='formbody') }} </p>

                    <p>{{ sform.submit(class = 'postButton') }}</p>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
    <div id="facultyForm" style="display: none;">

        <!-- TODO (iteration1):  Include the template for "user registration" form here..  -->

        {% if fform %}
        <form action="" method="POST">
            {{ fform.hidden_tag() }}

            <p>{{ fform.username.label }}</p>
            <p>{{ fform.username(class ='formtitle') }}</p>
            {% for error in fform.username.errors %}
            <span style="color: red;">[{{error}}]</span> {% endfor %}


            <p>{{ fform.lastname.label }}</p>
            <p>{{ fform.lastname(class ='formtitle') }}</p>
            {% for error in fform.lastname.errors %}
            <span style="color: red;">[{{error}}]</span> {% endfor %}

            <p>{{ fform.firstname.label }}</p>
            <p>{{ fform.firstname(class ='formtitle') }}</p>
            {% for error in fform.firstname.errors %}
            <span style="color: red;">[{{error}}]</span> {% endfor %}

            <p>{{ fform.wsuid.label }}</p>
            <p>{{ fform.wsuid(class ='formtitle') }}</p>
            {% for error in fform.wsuid.errors %}
            <span style="color: red;">[{{error}}]</span> {% endfor %}

            <p>{{ fform.phone.label }}</p>
            <p>{{ fform.phone(class ='formtitle') }}</p>
            {% for error in fform.phone.errors %}
            <span style="color: red;">[{{error}}]</span> {% endfor %}

            <p>{{ fform.email.label }}</p>
            <p>{{ fform.email(class ='formtitle')}} </p>
            {% for error in fform.email.errors %}
            <span style="color: red;">[{{error}}]</span> {% endfor %}


            <p>{{ fform.password.label }} </p>
            <p>{{ fform.password(class ='formtitle') }}</p>
            {% for error in fform.password.errors %}
            <span style="color: red;">[{{error}}]</span> {% endfor %}


            <p>{{ fform.password2.label }}</p>
            <p>{{ fform.password2(class ='formtitle') }} </p>
            {% for error in fform.password2.errors %}
            <span style="color: red;">[{{error}}]</span> {% endfor %}


            <p>{{ fform.submit(class = 'postButton') }}</p>
        </form>
        {% endif %}
    </div>
    <div class="mt120"></div>
</div>


{% endblock %}