{% extends "s_base.html" %} {% block content %}
<script>
    window.onload = clearStudentDisplay();
    window.onload = s_home_page_active();
</script>

<h1>Dear Student, Welcome to Research Network!</h1>

{% if form %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div>
        {{form.filter.label}} {{form.filter(class="searchSelect")}} {{form.checkbox }} {{form.checkbox .label}} {{form.refresh(class="searchBtn")}}
    </div>

</form>
{% endif %}


<div class="postlist">
    {% if onlyapply %}
        {% for apply in student.application %} {% set position = apply.applicationapplied %}
            <div class="post-box">
                {% include '_post.html' %}
            </div>
        {% endfor %}
    {% else %}
        {% for position in positions %}
            <div class="post-box">
                {% include '_post.html' %}
            </div>
        {% endfor %} 
    {% endif %}
</div>

{% endblock %}