{% extends "s_base.html" %} {% block content %}
<script>
    window.onload = clearStudentDisplay();
    window.onload = s_my_profile_active();
</script>
<style>
    .formtitle {
        width: 75% !important;
    }
    
    .formbody {
        width: 75% !important;
    }
</style>

<div class="newpost">
    <h1>Edit Profile</h1>
        <form action="" method="POST">
        {{ form.hidden_tag()}}
    <div class="row" style="margin: 0 !important; padding: 0;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row" style="margin: 0 !important; padding: 0;">
                <div class="col-md-6">
                    <p>{{ form.firstname.label }}</p>
                    <p>{{ form.firstname(class="formtitle")}}</p>
        
                    {% for error in form.firstname.errors %}
                    <span style="color: red;">[{{error}}]</span> {% endfor %}
        
                    <p>{{ form.lastname.label }}</p>
                    <p>{{ form.lastname(class="formtitle")}}</p>
        
                    {% for error in form.lastname.errors %}
                    <span style="color: red;">[{{error}}]</span> {% endfor %}
        
        
                    <p>{{ form.phone.label }}</p>
                    <p>{{ form.phone(class="formtitle")}}</p>
        
                    {% for error in form.phone.errors %}
                    <span style="color: red;">[{{error}}]</span> {% endfor %}
        
                    <p>{{ form.wsuid.label }}</p>
                    <p>{{ form.wsuid(class="formtitle")}}</p>
        
                    {% for error in form.wsuid.errors %}
                    <span style="color: red;">[{{error}}]</span> {% endfor %}
        
                    <p>{{ form.password.label }}</p>
                    <p>{{ form.password(class="formtitle")}}</p>
        
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{error}}]</span> {% endfor %}
        
                    <p>{{ form.password2.label }}</p>
                    <p>{{ form.password2(class="formtitle")}}</p>
        
                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{error}}]</span> {% endfor %}
        
                    <p>{{ form.major.label }}</p>
                    <p>{{ form.major(class ='formtitle') }} </p>
        
                    {% for error in form.major.errors %}
                    <span style="color: red;">[{{error}}]</span> {% endfor %}

                    <p>{{ form.GPA.label }}</p>
                    <p>{{ form.GPA(class ='formtitle') }} </p>

                    {% for error in form.GPA.errors %}
                    <span style="color: red;">[{{error}}]</span> {% endfor %}

                    <p>{{ form.graduation.label }}</p>
                    <p>{{ form.graduation(class ='formtitle') }} </p>

                    {% for error in form.graduation.errors %}
                    <span style="color: red;">[{{error}}]</span> {% endfor %}

                </div>
                <div class="col-md-6">

                    <p>{{ form.elective.label }}</p>
                    <p>{{ form.elective(class ='formtitle') }} </p>

                    {% for error in form.elective.errors %}
                    <span style="color: red;">[{{error}}]</span> {% endfor %}

                    <p>{{ form.researchtopic.label }}</p>
                    <p>{{ form.researchtopic(class ='formtitle') }} </p>

                    {% for error in form.researchtopic.errors %}
                    <span style="color: red;">[{{error}}]</span> {% endfor %}

                    <p>{{ form.programming.label }}</p>
                    <p>{{ form.programming(class ='formtitle') }} </p>

                    {% for error in form.programming.errors %}
                    <span style="color: red;">[{{error}}]</span> {% endfor %}

                    <p>{{ form.experience.label }}</p>
                    <p>{{ form.experience(class ='formtitle') }} </p>

                    {% for error in form.experience.errors %}
                    <span style="color: red;">[{{error}}]</span> {% endfor %}

                    <p>{{ form.submit(class='botton')}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}