{% if current_user.id == student.id %} {% extends 's_base.html' %} {% else %} {% extends 'f_base.html' %} {% endif %} {% block content %}
<script>
    window.onload = clearStudentDisplay();
    window.onload = s_my_profile_active();
</script>

<div class="row mt40" style="margin-top: 40px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <h1>Display Student Profile</h1>
        <h2>Student username: {{student.username}}</h2>
        <p><b>Name:</b> {{student.firstname}} {{student.lastname}}</p>
        <p><b>Email:</b> {{student.email}}</p>
        <p><b>wsuid:</b> {{student.wsuid}}</p>
        <p><b>phone:</b> {{student.phone}}</p>
        <p><b>major:</b> {{student.major}}</p>
        <p><b>GPA:</b> {{student.GPA}}</p>
        <p><b>graduation date:</b> {{student.graduationdate}}</p>
        <p>
            <b>elective:</b> [ {% for e in student.get_electives() %} {{e.title}}; {% endfor %} ]
        </p>

        <p>
            <b>research topic:</b> [ {% for r in student.get_researchtopic() %} {{r.title}}; {% endfor %} ]

        </p>


        <p>
            <b>programming language:</b> [ {% for p in student.get_programming() %} {{p.name}}; {% endfor %} ]
        </p>

        <p><b>experience:</b> {{student.research_experience}}</p>


        {% if current_user == student %}
        <p>
            <a href=" {{url_for('routes.s_profile_edit')}} ">
                <button>Edit your profile</button>
            </a>
        </p>
        {% endif %}

        
        <p>
        <b> Applied Applications: </b>
        </p>

        <table class="table table-hover">
            <thead class="thead-light">
                <tr valign="bottom">
                    <th width="50%">Research Name</th>
                    <th width="50%"> Status </th>
                </tr>
            </thead>
            {% for app in student.application %}  {% set position = app.applicationapplied %}
                <tr valign="middle">
                    <td width="50%"> <a href = "{{url_for('routes.get_position_info', position_id = position.id) }}" > {{position.title}} </a> </td>
                    <td width="50%"> 
                        {% if app.status == 1%}
                            Pending
                        {% elif app.status == 2 %}
                            Approved for Interview (Please reach out to the research provider for an appointment!)
                        {% elif app.status == 3 %}
                            Hired (Congradulations!)
                        {% elif app.status == 4%}
                            Not Hired :(
                        {% endif %}
                    </td>    
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-2"></div>
</div>


{% endblock %}